
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">User Management</h4>
        </div>
        <div class="card-body">
          <div class="">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th class=" text-center">Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; index as i;">
                  <td>{{ i+1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td class=" text-center">{{ user.phone }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
